<div class="section-title">
    <h3 class="title">User Menu</h3>

</div>

<ul class="">
    <li><a href="/profile"><i class="fa fa-user-o"></i> My Account</a></li>
    <li><a href="/userchangepassword"><i class="fa fa-user-o"></i> Change Password</a></li>
    <li><a href="wishlist"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
    <li><a href="/order/shopcart"><i class="fa fa-exchange"></i> Shop Cart</a></li>
    <li><a href="/order/checkout"><i class="fa fa-check"></i> Checkout</a></li>
    <li><a href="/order"><i class="fa fa-check"></i> My Orders</a></li>
    <li><a href="/comments"><i class="fa fa-check"></i> My Comments</a></li>
    <li><a href="/logout"><i class="fa fa-user-plus"></i> Logout</a></li>
</ul>


